@font-face {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SpaceMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/SpaceMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/SpaceMono-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}
@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}
@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}
@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}
@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}
@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}
@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}
@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}

@font-face {
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.woff2")
    format("woff2");
  font-variation-settings:
    "SOFT" 0,
    "WONK" 1;
}
