---
import Hr from "./Hr.astro";
import { Image } from "astro:assets";
import cc from "../assets/cc.svg";
import by from "../assets/by.svg";
import LinkButton from "@components/LinkButton.astro";
import Socials from "@components/Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper pb-6 pt-4 sm:pb-8">
    <div class="flex items-center justify-between">
      <div class="copyright-wrapper">
        Copyright &#169; {currentYear} Aryan Ameri
      </div>
      <Socials />
    </div>
    <div class="license-wrapper flex items-center gap-1">
      <span>This website is licenced under</span>
      <LinkButton
        className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
        href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
      >
        CC BY 4.0
      </LinkButton>
      <Image
        src={cc}
        alt="creative commons logo"
        class="h-5 w-auto"
        width={20}
        height={20}
      />
      <Image
        src={by}
        alt="CC attribution logo"
        class="h-5 w-auto"
        width={20}
        height={20}
      />
    </div>
    <p>
      All text is original work written with only the assistance of a
      spellchecker.
    </p>
  </div>
</footer>
